<h1 class="text-center mt-5">Bienvenido administrador</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-6 text-center">
            <p><a href="/admin/usuarios">Mir치 los usuarios registrados ac치</a></p>
        </div>
        <div class="col-6 text-center">
            <p><a href="/admin/compras">Mir치 todas las compras ac치</a></p>
        </div>
    </div>
</div>
