<h1 class="text-center mt-5">Compras</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover text-center">
                <thead>
                    <th>ID</th>
                    <th>Número de compra</th>
                    <th>ID del usuario</th>
                    <th>Ver más</th>
                </thead>
                <tbody>
                    {{#each compra}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{nroCompra}}</td>
                        <td>{{idUsuario}}</td>
                        <td><a class="btn btn-link" href="/admin/compras/{{id}}">Ver más</a></td>
                    </tr>
                    {{/each}}
                </tbody>
                
            </table>
        </div>
    </div>
</div>

